<div class="container">
  <div class="ui-g">
    <form autocomplete="off" (ngSubmit)="pesquisar()">
      <div class="ui-g-12">
        <h1>Pessoas</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Nome</label>
        <input id="input" pInputText type="text" name="nome" [(ngModel)]="filtro.nome">
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Pesquisar"></button>
      </div>
    </form>

    <div class="ui-g-12">
      <p-dataTable #tabela [value]="pessoas" [responsive]="true"
      [rows]="filtro.itensPorPagina" [paginator]="true"
      [lazy]="true" [totalRecords]="totalRegistros"
      (onLazyLoad)="aoMudarPagina($event)"
      emptyMessage="Nenhuma pessoa encontrada." >
        <p-column field="nome" header="Nome"></p-column>
        <p-column field="endereco.cidade" header="Cidade"></p-column>
        <p-column field="endereco.estado" header="Estado"></p-column>
        <p-column field="status" header="Status">
          <ng-template let-pess="rowData" pTemplate="body">
            <a (click)="mudarStatus(pess)" [pTooltip]="!pess.ativo === true ? 'Ativo' : 'Inativo'">{{ pess.ativo === true ? 'Ativo' : 'Inativo' }}</a>
          </ng-template>
        </p-column>

        <p-column styleClass="col-acoes">
          <ng-template let-pess="rowData" pTemplate="body">
            <a pButton icon="fa fa-pencil" pTooltip="Editar" tooltipPosition="top"></a>
            <button pButton (click)="confirmacaoExclusao(pess)" icon="fa fa-trash" pTooltip="Excluir" tooltipPosition="top"></button>
          </ng-template>
        </p-column>
      </p-dataTable>
    </div>

    <div class="ui-g-12">
      <button pButton type="button" label="Nova Pessoa"></button>
    </div>
  </div>
</div>
